@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Oxanium", sans-serif;

    --color-primary: #F95C19;
    --color-secondary: #7B7A8B;
}